button,
.btn {
  cursor: pointer;
}

.btn,
%btn {
  @include font($font-base, $font-family, $weight, normal);
  letter-spacing: 0.14rem;
  color: v(colour-white);
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  opacity: 1;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid v(colour-accent-light);
  border-image: initial;
  border-radius: 8px;
  background-color: v(colour-accent);
  @include padding(12px 40px);
  transition: all 0.35s ease 0s;
  &--lg {
    font-size: $font-md;
    font-weight: $weight-heavy;
    letter-spacing: 0.21rem;
    @include padding(13px 48px);
  }
  &--sm {
    font-size: $font-sm;
    letter-spacing: 0.16rem;
    @include padding(8px 26px);
  }
  @include hover {
    opacity: 0.82;
    color: v(colour-black);
  }
  &--modern {
    color: v(colour-white);
    font-weight: $weight-light;
    letter-spacing: 0.17rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    background: linear-gradient(
      -180deg,
      v(colour-accent-light) 0%,
      v(colour-accent-dark) 100%
    );
    @include padding(12px 40px);
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      @include size(100%);
      box-shadow: hex2hsla(_colour(accent), 0.75) 0px 1px 30px 0px;
      opacity: 1;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 8px;
      transition: opacity 0.35s ease 0s;
    }
    &-lg {
      font-size: $font-md;
      font-weight: $weight;
      letter-spacing: 0.21rem;
      @include padding(15px 50px);
    }
    &-sm {
      font-size: $font-sm;
      letter-spacing: 0.16rem;
      @include padding(10px 28px);
    }
    @include hover {
      &::before {
        opacity: 0;
      }
    }
  }
  &--ghost {
    letter-spacing: 0.17rem;
    color: v(colour-accent);
    @include padding(10px 38px);
    border: 2px solid v(colour-accent);
    background: none;
    &-lg {
      font-size: $font-md;
      letter-spacing: 0.21rem;
      @include padding(13px 48px);
    }
    &-sm {
      font-size: $font-sm;
      letter-spacing: 0.16rem;
      @include padding(8px 26px);
    }
    @include hover {
      color: v(colour-white);
      background: v(colour-accent-dark);
    }
  }
  &--rounded {
    border-radius: 100px !important;
  }
  &--text {
    color: v(colour-text);
    letter-spacing: 0.17rem;
    display: inline-flex;
    place-items: center;
    box-shadow: none;
    opacity: 1;
    border-width: initial;
    border-style: none;
    border-color: initial;
    @include padding(7px 15px);
    background: none;
    border-radius: 0px;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      @include size(33.3%, 65%);
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      box-shadow: none;
      border-radius: 0px;
      opacity: 1;
      transition: width 0.35s ease 0s, height 0.35s ease 0.35s,
        border-color 0.35s ease 0s;
    }
    &::before {
      right: unset;
      left: 0px;
      top: 0px;
      border-top: 2px solid v(colour-text);
      border-left: 2px solid v(colour-text);
    }
    &::after {
      right: 0px;
      bottom: 0px;
      border-bottom: 2px solid v(colour-text);
      border-right: 2px solid v(colour-text);
    }
    &--lg {
      font-size: $font-md;
      letter-spacing: 0.21rem;
    }
    &--sm {
      font-size: $font-sm;
      letter-spacing: 0.16rem;
    }
    @include hover {
      color: v(colour-text);
      &::before,
      &::after {
        @include size(100%);
      }
      &::before {
        border-top-color: v(colour-accent);
        border-left-color: v(colour-accent);
      }
      &::after {
        border-bottom-color: v(colour-accent);
        border-right-color: v(colour-accent);
      }
    }
  }
  &--arrow {
    display: flex;
    align-items: center;
    color: v(colour-text);
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    background: none;
    transition: all 0.35s ease 0s;
    &--lg {
      font-size: $font-md;
    }
    &--sm {
      font-size: $font-sm;
    }
  }
}
