body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font($font-base, $font-family, $weight);
}

p {
  line-height: 24px;
}

@each $heading, $size in $headings {
  #{$heading} {
    @include make-font-size($size);
    font-family: $font-family-header;
    font-weight: $weight;
  }
}

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem;
}

code {
  @include font($font-base, $font-family-code, $weight, 24px);
  border: solid 2px;
  margin: 0 0.25rem;
  padding: 0.25rem 0.65rem;
}

pre {
  -webkit-overflow-scrolling: touch;
  @include font($font-base, $font-family-pre, $weight, 24px);

  code {
    display: block;
    line-height: 1.75;
    padding: 1rem 1.5rem;
    overflow-x: auto;
  }
}

.blockquote {
  blockquote {
    padding-top: 20px;
    font-size: $font-base;
    font-weight: $weight-exlight;
    color: v(colour-text-secondary);
    footer {
      content: '';
      display: block;
      width: 60px;
      @include margin(25px null 10px);
      opacity: 0.3;
      border-bottom: 2px solid v(colour-grey);
      cite {
        color: v(colour-grey);
        opacity: 0.55;
        font-style: normal;
      }
    }
  }
  &--boxed {
    box-shadow: hex2hsla(_colour(grey-darker), 0.15) 0px 1px 30px 0px;
    padding: 40px;
    border-top: 3px solid hex2hsl(_colour(grey-darker));
    border-radius: 0px 0px 8px 8px;
  }
}

blockquote {
  font-style: italic;
}

hr {
  border: 0;
  border-bottom: solid 2px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

ul,
ol {
  padding-left: em(16px);
}

ul {
  list-style-type: disc;

  &.no-style {
    list-style: none;
  }
}

ol {
  list-style-type: decimal;

  &.no-style {
    list-style: none;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.text-italic {
  font-style: italic;
}
