rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure users can only read and write their own data.
    // The uid of the requesting user needs to match the name of the user
    // document. The wildcard expression {userId} makes the userId variable
    // available in rules.
    match /{document=**} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}