.hero {
  @include bgImg(
    'volcano.jpg',
    center center,
    'responsive',
    null,
    '<=200',
    '<=482',
    '<=672',
    '<=835',
    '<=973',
    '<=1098',
    '<=1212',
    '<=1322',
    '<=1377',
    '<=1400'
  );
  /// If reduced data os enabled on device, turn off images.
  @media (prefers-reduced-data) {
    background-image: none !important;
    background-color: v(colour-primary);
  }
  position: relative;
  width: 100%;
  min-height: -webkit-fill-available;
  background-color: v(colour-white);
  @include overlay(black, 0.4);
  .hero-body {
    @include size(100%, calc(100% - 74px));
    .hero-inner {
      -webkit-box-pack: center;
      @include flex(center, center, column);
      text-align: center;
      color: v(colour-white);
      @include padding(null 15px);
      @include size(670px, null, max);
      margin: 0 auto;
      h1 {
        order: 1;
        margin-bottom: 25px;
        font-size: ceil(_heading((h1, 1)) * 1.2);
      }
      h2 {
        order: 0;
        @include make-font-size(_heading(h4));
        @include font(null, $font-family, $weight-exlight);
        margin-bottom: 20px;
      }
      p {
        order: 2;
      }
      div {
        order: 3;
      }
    }
  }
}
