.post {
  $self: &;
  display: block;
  background-color: v(colour-primary);
  box-shadow: hex2hsla(_colour(grey), 0.2) 0px 1px 2px 0px;
  border-radius: 8px;
  overflow: hidden;
  max-width: 350px;
  transition: box-shadow 0.35s ease 0s;
  &__image {
    @include size(100%, auto);
    max-height: 230px;
  }
  &__content {
    @include padding(30px);
    h3 {
      font-size: _heading((h3, 1));
      margin-bottom: 0;
      font-weight: $weight-heavy;
      #{ $self }__meta {
        color: v(colour-grey-light);
        font-size: $font-sm;
        font-weight: $weight-light;
        display: block;
        margin-bottom: 12px;
        line-height: normal;
      }
    }
    a {
      margin-top: 30px;
    }
  }
  @include hover {
    box-shadow: hex2hsla(_colour(grey), 0.15) 0px 1px 30px 0px;
  }
}
