<picture>
    <source
    type="image/webp"
    srcset="
    /assets/images/default_200.webp 200w,
    /assets/images/default_460.webp 460w,
    /assets/images/default_635.webp 635w,
    /assets/images/default_819.webp 819w,
    /assets/images/default_975.webp 975w,
    /assets/images/default_1135.webp 1135w,
    /assets/images/default_1291.webp 1291w,
    /assets/images/default_1400.webp 1400w"
    sizes="(max-width: 1400px) 100vw, 1400px"
    >
    <source
    type="image/jpg"
    srcset="
    /assets/images/default_200.jpg 200w,
    /assets/images/default_460.jpg 460w,
    /assets/images/default_635.jpg 635w,
    /assets/images/default_819.jpg 819w,
    /assets/images/default_975.jpg 975w,
    /assets/images/default_1135.jpg 1135w,
    /assets/images/default_1291.jpg 1291w,
    /assets/images/default_1400.jpg 1400w"
    sizes="(max-width: 1400px) 100vw, 1400px"
    >
    <img class="image-default lazyload" src="/assets/images/default.jpg" loading="lazy" alt="A picture of a dark pink overlay of coding background with coding brackets." data-sizes="auto">
</picture>
