{%- assign hero = page.hero -%}
{%- assign classes = include.class | split: ' ' -%}

<section class="hero{% for class in classes %} {{ class | prepend: 'hero--' }}{% endfor %}">
  <div class="hero-body container">
    <div class="hero-inner">
      <h1 class="reveal-from-bottom" data-reveal-delay="150">{{ hero.title | default: site.title }}</h1>
      {%- if hero.subtitle -%}
        <h2>{{ hero.subtitle }}</h2>
      {%- endif -%}
      <p class="reveal-from-bottom" data-reveal-delay="300">{{ hero.content | default: site.description }}</p>
      {%- if hero.button -%}
        <div class="reveal-from-bottom hero-cta" data-reveal-delay="450">
          <a class="btn btn--primary" href="{{ hero.button.link | default: 'javascript:void(0)' }}">{{ hero.button.text | default: "Get Started" }}</a>
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
