<nav id="site-nav" class="navbar-menu" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation" role="navigation">
  <div id="site-nav-label" class="menu__label sr-only">Main menu</div>
  <div class="navbar-start">
    {%- for item in site.data.navigation -%}
        {%- if item.sub -%}
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% if item.type != 'external' %}{{ item.link | prepend: site.url | relative_url }}{% else %}{{ item.link | relative_url }}{% endif %}"{% if item.type == 'external' %} target="_blank" rel="noopener noreferrer"{% endif %} itemprop="url">{{ item.name }}</a>
            <div class="navbar-dropdown">
                {%- for sub in item.sub -%}
                    <a href="{% if sub.type != 'external' %}{{ sub.link | prepend: site.url | relative_url }}{% else %}{{ sub.link | relative_url }}{% endif %}" class="navbar-item{% if sub.link == page.url %} navbar-item--active{% endif %}"{% if sub.type == 'external' %} target="_blank" rel="noopener noreferrer"{% endif %} itemprop="url"><span class="strike">{{ sub.name }}</span></a>
                {%- endfor -%}
            </div>
        </div>
        {%- else -%}
        <a class="navbar-item{% if item.link == page.url or item.link == site.baseurl %} navbar-item--active{% endif %}" href="{% if item.type != 'external' %}{{ item.link | prepend: site.url | relative_url }}{% else %}{{ item.link | relative_url }}{% endif %}"{% if item.type == 'external' %} target="_blank" rel="noopener noreferrer"{% endif %} itemprop="url">{{ item.name }}</a>
        {%- endif -%}
    {%- endfor -%}
  </div>
</nav>
