{%- assign name = include.name -%}

{%- assign formats = '' | split: '' -%}
{%- if include.types -%}
  {%- assign types = include.types | split: ', ' -%}
  {%- assign formats = formats | concat: types -%}
{%- else -%}
  {%- assign defaultTypes = 'avif, webp, jpg' | split: ', ' -%}
  {%- assign formats = formats | concat: defaultTypes -%}
{%- endif -%}

{%- assign srcset = include.srcset -%}
{%- assign sizes = include.sizes -%}
{%- assign classes = include.class -%}
{%- assign alt = include.alt -%}
{%- assign lazyload = include.lazyload | default: true -%}

<picture>
  {%- for format in formats -%}
    <source
    type="image/{{ format }}"
    srcset="
    {%- if srcset -%}
      {%- for src in srcset -%}
        {%- if src.includes == '_' -%}
          {%- assign srcs = src | split: '_' -%}
          {%- assign srcSize = srcs[1] -%}
        {%- else -%}
          {%- assign srcSize = src -%}
        {%- endif -%}

        {{ src | default: name | prepend: '/assets/images/' }}.{{ format }} {{ srcSize }}w{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    {%- else -%}
      {{ name | prepend: '/assets/images/' }}.{{ format }}
    {%- endif -%}
    "
    {%- if sizes -%}
      sizes="{{ sizes }}"
    {%- endif -%}
    >
  {%- endfor -%}
  <img class="{% for class in classes %}{{ class }}{% unless forloop.last %} {% endunless %}{% endfor %}{% if lazyload %} lazyload{% endif %}" src="{{ name | prepend: '/assets/images/' }}.{% for format in formats %}{% if forloop.last %}{{ format }}{% endif %}{% endfor %}"{% if lazyload %} loading="lazy"{% endif %} alt="{{ alt }}" data-sizes="auto">
</picture>
