<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel="dns-prefetch" href="//cdn.jsdelivr.net">
<link rel="{% if site.firebase_project %}preconnect{% else %}dns-prefetch{% endif %}" href="https://www.gstatic.com" crossorigin>
{%- if site.firebase_project -%}
  <link rel="preconnect" href="{{ site.firebase_project | prepend: 'https://' | append: '.firebaseapp.com' }}" crossorigin>
  <link rel="preconnect" href="{{ site.firebase_project | prepend: 'https://' | append: '.firebaseio.com' }}" crossorigin>
  <link rel="preconnect" href="{{ site.firebase_project | prepend: 'https://' | append: '.appspot.com' }}" crossorigin>
{%- endif -%}
<link rel="preconnect" href="https://instant.page" crossorigin>
<link rel="prefetch" href="{{ '/assets/css/normalize.css' | relative.url }}">
{%- for font in site.data.fonts -%}
  <link rel="{{ font.rel | default: 'preload' }}" as="font" type="{{ font.type | prepend: 'font/' }}" href="{{ font.src | prepend: '/assets/fonts/' | append: '.' | append: font.type | relative_url }}" crossorigin{% if font.rel == 'preload' %} importance="{{ font.importance | default: 'high' }}"{% endif %}>
{%- endfor -%}
<link rel="preload" as="style" href="{{ '/assets/css/font.css' | relative.url }}" importance="high">
