/// Feature Cards
.card {
  $self: &;
  height: 100%;
  text-align: center;
  box-shadow: hex2hsla(_colour(grey), 0) 0px 0px 0px 0px;
  @include padding(40px 8%);
  border-radius: 8px;
  position: relative;
  transition: all 0.35s ease 0s;
  background: v(colour-primary);
  @include hover {
    box-shadow: hex2hsla(_colour(grey), 0.15) 0px 1px 30px 0px;
  }
  &__icon {
    display: block;
    @include margin(null auto 25px);
    color: v(colour-text);
    @include size(100%, auto);
    @include size(null, 48px, max);
  }
  &__heading {
    color: v(colour-text);
    @include fluid(
      font-size,
      _heading((h5, 1)),
      _heading((h3, 1)),
      992px,
      1440px
    );
    @include fluid(line-height, 20px, _heading((h2, 2)), 1199px, 1440px);
    margin-bottom: 20px;
  }
  &__info {
    margin-bottom: 50px;
    opacity: 0.4;
    font-weight: $weight-light;
    color: v(colour-text);
  }
  #{ $self }__button {
    width: fit-content;
    @include margin(20px null null);
    @include center(true, false);
    bottom: 17px;
  }
}

/// Feature Layouts
.feature-layout {
  $self: &;
  &__image {
    text-align: center;
    &--shadow {
      img {
        box-shadow: hex2hsla(_colour(grey), 0.15) 0px 1px 30px 0px;
        border-radius: 8px;
        transition: box-shadow 0.35s ease 0s;
      }
      svg {
        filter: drop-shadow(0px 1px 30px 0px hex2hsla(_colour(grey), 0.15));
      }
    }
    img,
    svg {
      max-width: 100%;
      height: auto;
    }
  }
  &__text {
    @include flex(start, center, column);
    h2 {
      font-weight: $weight-exlight;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 0;
    }
    #{ $self }__button {
      margin-top: 40px;
    }
  }
}

/// Posts
.posts {
  h2 {
    margin-bottom: 80px;
  }
}
.post {
  $self: &;
  display: block;
  background-color: v(colour-primary);
  box-shadow: hex2hsla(_colour(grey), 0.2) 0px 1px 2px 0px;
  border-radius: 8px;
  overflow: hidden;
  max-width: 350px;
  transition: box-shadow 0.35s ease 0s;
  &__image {
    @include size(100%, auto);
    max-height: 230px;
  }
  &__content {
    @include padding(30px);
    h3 {
      font-size: _heading((h3, 1));
      margin-bottom: 0;
      font-weight: $weight-heavy;
      #{ $self }__meta {
        color: v(colour-grey-light);
        font-size: $font-sm;
        font-weight: $weight-light;
        display: block;
        margin-bottom: 12px;
        line-height: normal;
      }
    }
    a {
      margin-top: 30px;
    }
  }
  @include hover {
    box-shadow: hex2hsla(_colour(grey), 0.15) 0px 1px 30px 0px;
  }
}
